<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias earum facilis accusamus autem doloribus
            blanditiis fuga amet impedit quisquam enim.</p>
    </div>
</section>