<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nisi sed odio, ullam aut
        voluptatibus?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae nobis quos id ipsam vel dolores alias possimus
        soluta? Corporis, animi!</p>
    <a href="https://github.com/falsepopsky" class="btn btn-primary">GitHub</a>
</div>